extend layouts/app.pug

append head
  link(rel='stylesheet' href='/assets/bootstrap/dist/css/bootstrap.css')

append body
  h2 Welcome home
  unless currentUser.isGuest()
    div(style='font-family:monospace;font-size:18px')
      | You are
      |
      span(style='color:#100087;font-weight:bold')= currentUser.nickname
  if users
    div
      p Number of users #{users}
  a(href='/phonebook') Phonebook

