extends ../layouts/app.pug

block body
  h2= h2
  if error
    .container.mt-1.alert.alert-danger
      = error
  h3= title
  form(action='/session' method='post')
    .
      Nickname #[input(name='nickname' placeholder='Nickname' value=form.nickname)]
    br
    .
      Password #[input(type='password' name='password' placeholder='Password')]
    br
    button(type='submit') Log in
  a(href='/') Home

