extend ../layouts/app.pug

block head
  title New user

block body
  h2= h2
  h3 Registration form
  form(action='/users' method='post')
    .
      Nickname #[input(name='nickname' placeholder='Nickname' value=form.nickname)]
    br
    if errors.nickname
      div(style='color:red')= errors.nickname
    .
      Password #[input(type='password' name='password' placeholder='Password')]
    br
    if errors.password
      div(style='color:red')= errors.password
    button(type='submit') Submit
  a(href='/') Home

